---
import fs from 'node:fs';
import path from 'node:path';

import Layout from '#layouts/Layout';
import Hero from '#components/Hero';
import PreviewList from '#components/PreviewList';
import Chips from '#components/Chips';

const pagePath = path.join(process.cwd(), '.content', 'pages', 'index.json');
const pageData = JSON.parse(fs.readFileSync(pagePath, 'utf8'));

const title = 'Discover short code snippets for all your development needs.';
const description =
  'Browse snippets by collection or check out our top picks and latest articles below.';

const {
  featuredCollections,
  featuredSnippets,
  snippetListUrl,
  splashImage,
  pageDescription,
  structuredData,
} = pageData.props;
---

<Layout
  title=''
  description={pageDescription}
  canonical={'/'}
  structuredData={structuredData}
>
  <main>
  <Hero
    title={title}
    description={description}
    cover={splashImage}
    secondary
  />
  <Chips items={featuredCollections} />
  <div>
    <a
      href={snippetListUrl}
      class='inline-block lnk-no-animation relative mt-8'
    >
      <!-- TODO: Make this wholesome -->
      <h2>New & Popular Snippets</h2>
    </a>
    <PreviewList contentItems={featuredSnippets} />
  </div>
  </main>
</Layout>
