---
import '../styles/index.scss';

import Meta from '#components/Meta';
import Footer from '#components/Footer';
import Header from '#components/Header';
import Omnisearch from '#components/Omnisearch';

import settings from '#settings/global';

const {
  title,
  description,
  logoSrc,
  pageType,
  structuredData,
  breadcrumbsData,
  canonical,
  isFaq = false,
} = Astro.props;
---

<html lang='en'>
  <head>
    <Meta
      title={title}
      description={description}
      logoSrc={logoSrc}
      pageType={pageType}
      structuredData={structuredData}
      breadcrumbsData={breadcrumbsData}
      canonical={canonical}
    />
  </head>

  <body>
    <Header />
    <!-- TODO: Move to a component later and include everywhere that it's needed, inside main -->
    <!-- <a
      href='#skip-link-target'
      class='skip-link'
      id='skip-link-target'
    >
      Start of main content
    </a> -->
    <slot />
    <Footer />
    <!-- TODO: Enable anew -->
    <Omnisearch />
  </body>
</html>
